:root {
  --agua-marinha: #82FED6;
  --verde-mar: #308A56;
  --lima: #C1FE01;
  --verde-lima: #2DD129;
  --chartreuse: #80FF00;
  --abacate: #C6FF38;
  --esmeralda: #52C778;
  --verde-bandeira: #1D8D28;
  --musgo: #64672F;
  --oliva: #85830D;
  --escuro: #043230;
  --floresta: #046539;
  --grama: #218645;
  --kentucky: #86BCA3;
  --primavera: #D5FFD3;
  --turquesa: #F2FFFD;
  --desbotado: #F0FEFF;
  --fantasma: #EFFFF3;
  --menta: #E3FBEB;
  --exercito: #9FFBA0;
  --marciano: #6E9567;
  --lunar: #99CB34;
}